basicConstraints=critical,CA:FALSE
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=serverAuth
subjectAltName=DNS:github.com,DNS:www.github.com,DNS:api.github.com,DNS:gist.github.com,DNS:codeload.github.com,DNS:raw.githubusercontent.com,DNS:objects.githubusercontent.com,DNS:media.githubusercontent.com,DNS:avatars.githubusercontent.com,DNS:avatars0.githubusercontent.com,DNS:avatars1.githubusercontent.com,DNS:avatars2.githubusercontent.com,DNS:avatars3.githubusercontent.com,DNS:avatars4.githubusercontent.com,DNS:avatars5.githubusercontent.com,DNS:camo.githubusercontent.com,DNS:cloud.githubusercontent.com,DNS:user-images.githubusercontent.com,DNS:private-user-images.githubusercontent.com,DNS:githubapp.com,DNS:resources.github.com,DNS:archiveprogram.github.com,DNS:support-assets.githubassets.com,DNS:githubassets.com,DNS:*.githubassets.com,DNS:github.io,DNS:www.github.io,DNS:pages.github.com,DNS:github.dev,DNS:*.github.com,DNS:*.githubusercontent.com,DNS:*.github.io,DNS:*.githubapp.com,DNS:*.githubassets.com,IP:127.0.0.1,DNS:localhost
